/*mobile stylesheet*/

body {
	font-size:1.2em;
}
	
h1{
	font-size:1.8em;
}

.container{
	grid-template-columns:60px auto 60px;
	grid-template-rows:160px auto auto auto auto;
	/*header, menu, swiper, product information, footer*/
	display: grid;
	height:auto;
	width:100%;
}

.index_picture{
	grid-column:2;
	grid-row:3;
	align-self: center;
	
	img{
		display:block;
		margin:auto;
		width:100%;
		height:auto;
	}
}


.menu{
	grid-column:2;
	grid-row:2;
	display:none;
	
	ul{
		list-style-type:none;
		margin:80px 0px;
		padding:0px;
		display:block;
		width:100%;
	}
	
	li{
		padding:8px;
		margin:2px 0px;	
	}
}
	
.toggle + a,
.menu {
	display: none;
}
	
.logo{
	grid-column-start: 2;
	grid-row-start:1;
	grid-row-end:1;
	align-self:center;
	
	img{
		height:40px;
		width:auto;
	}
}
	
.items_container{

	grid-column-start:1;
	grid-column-end:4;
	grid-row:3;
	align-self: center;
	margin:auto;
}
	
.item_container{

	grid-column:2;
	grid-row:4;
	align-self: center;
	margin:auto;
}

.item_details{
	padding:0 60px;
	}
	
.index_text{
	/*display:none;*/
	grid-column-start:1;
	grid-column-end:4;
	grid-row:3;
	align-self: center;
	margin:auto;
}
	
.sidebar_r{
	display:none;
}
	
.viewcart {
	grid-column:3;
	grid-row:1;
	align-self:center;
	float:right;
}


input[type=button], input[type=submit], input[type=reset] {
	align: center;
    font-size:1em;
}

.collapseButton {
    width:100%;
    height:60px;
}
	
.footer{
	grid-column-start:1;
	grid-column-end:5;
	grid-row:last;
	height:auto;
}
	
.footer-grid{
	display:grid;
	grid-template-columns:none;
	grid-template-rows:repeat(3, auto);
}

.footer-column{
	padding:20px;
}

	
.toggle {
	display: block;
	grid-column:2;
	grid-row:2;
	padding:8px 0px;	
	color:#000;
	text-decoration:none;
	border:none;
}

#toggleButton{
  	width:100%;
  	height:60px;
  	border: none;
  	font-size:1.4em;
  	text-align:left;
  	background-color: #fff;
  	color:#000;
}

/*size table*/
.size-table{
	width:100%;
}

.dropdown-label{
	font-size:1.2em;
	text-align:left;
	height:60px;
}

/*size drop down*/
select, input[type="color" i][list] {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
    font-size:1em;
    width:100%;
    height:60px;    
}

.add-to-class{
	width:100%;
	height:60px;
}

/* reset the appearance of buttons on mobile*/
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
